@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@theme {
  --font-display: "Oswald", sans-serif;
  --font-oswald: "Oswald", sans-serif; 
  --drop-shadow-4xl: 0 35px 35px rgba(0, 0, 0, 0.25); 

  --text-tiny: 0.625rem; 

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --animate-mywiggle: mywiggle 2s ease-in-out infinite;
  @keyframes mywiggle {
    0%,
    100% {
      transform: rotate(-18deg);
      /* transform-origin: top right ; */
    }
    50% {
      transform: rotate(18deg);
    }
  }
}